@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?y45z88');
  src:  url('fonts/icomoon.eot?y45z88#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?y45z88') format('truetype'),
    url('fonts/icomoon.woff?y45z88') format('woff'),
    url('fonts/icomoon.svg?y45z88#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zhanghu_icon:before {
  content: "\e90a";
  color: #fff;
}
.icon-message_icon:before {
  content: "\e905";
  color: #fff;
}
.icon-wifi_icon:before {
  content: "\e90b";
  color: #fff;
}
.icon-see_icon:before {
  content: "\e90d";
  color: #fff;
}
.icon-alter_icon:before {
  content: "\e900";
  color: #c1c5c9;
}
.icon-back_bule_icon:before {
  content: "\e901";
  color: #658ec7;
}
.icon-consensus_icon:before {
  content: "\e902";
  color: #fff;
}
.icon-copy_icon:before {
  content: "\e903";
  color: #fff;
}
.icon-home_icon:before {
  content: "\e904";
  color: #fff;
}
.icon-more_icon:before {
  content: "\e906";
  color: #fff;
}
.icon-page_icon:before {
  content: "\e907";
  color: #fff;
}
.icon-personal_icon:before {
  content: "\e908";
  color: #fff;
}
.icon-qr_icon:before {
  content: "\e909";
  color: #fff;
}
.icon-use_icon:before {
  content: "\e90c";
  color: #fff;
}
