//background color
@bg-color: #0b1422;
//hover color
@h-color: #17202e;
//border color
@bd-color: #658ec7;
a {
    text-decoration: underline;
    color: #b6bbbf;
}

.el-input--suffix .el-input__inner {
    padding-right: 30px;
    border: 1px solid #24426c;
    height: 24px;
    font-size: 12px;
}

.el-input--mini .el-input__inner {
    height: 24px;
    border: 1px solid #24426c;
    background-color: #17202e;
}

.el-input__inner:hover {
    border: 1px solid #658ec7;
}

.el-textarea__inner {
    background-color: #17202e;
    border: 1px solid #24426c;
}

.el-select-dropdown {
    background-color: @bg-color;
    border: 1px solid @bd-color;
}

.el-select .el-input .el-select__caret {
    font-size: 14px;
}

.el-select-dropdown__item.hover,
.el-select-dropdown__item:hover {
    background-color: @h-color;
}

.el-pagination.is-background .btn-next,
.el-pagination.is-background .btn-prev,
.el-pagination.is-background .el-pager li {
    background-color: @bg-color;
}

.el-table--enable-row-hover .el-table__body tr:hover>td {
    background: rgba(87, 107, 139, 0.1);
}

//input
input[type="text"],
input[type="password"],
select {
    background: @bg-color;
    border-radius: 0.05rem;
    height: 26px;
    border: 1px solid;
}

.el-input__inner {
    border: 1px solid @bd-color;
}

.el-input__suffix {
    right: 2px;
    width: 35px;
    height: 20px;
    margin-top: 0px;
}

.el-input__inner {
    border: 0px solid @bd-color;
    height: 1.5rem;
}

//table
.el-table th {
    background-color: #222d3f;
}

.el-table tr {
    background-color: @bg-color;
}

.el-table::before {
    background-color: #17202e;
}

.el-table td,
.el-table th {
    padding: 3px 0;
    font-size: 12px;
}

.el-table td,
.el-table th.is-leaf {
    border-bottom: 1px solid #17202e;
}

//pages
.el-pagination {
    margin-top: 1rem;
    text-align: center;
}

.el-pagination button.disabled {
    background-color: #0c1323;
}

.el-pager li {
    background: #0c1323;
}

.el-pagination .btn-next,
.el-pagination .btn-prev {
    background: center center no-repeat #0c1323;
    color: #c0c4cc;
}

//tabs
.el-tabs__item.is-active {
    color: #FFFFFF;
}

.el-tabs__nav-wrap::after {
    height: 1px;
    background-color: #24426c;
}

.el-tabs__active-bar {
    height: 2px;
    background-color: #658ec7;
}

.el-tabs__item {
    color: #FFFFFF;
}

.el-table th>.cell {
    color: #C1C5C9;
}

.el-table .cell {
    color: #C1C5C9;
}


/**divIcon**/

.div-icon {
    height: 168px;
    width: 200px;
    overflow: hidden;
    position: relative;
    background-color: #181f2f;
    border: 1px solid #24426c;
    margin-right: 10px;
    .subscript {
        color: #fff;
        height: 25px;
        width: 70px;
        position: absolute;
        right: -20px;
        text-align: center;
        line-height: 25px;
        font-size: 10px;
        background-color: #82bd39;
        -moz-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    .stay {
        background-color: #f64b3e;
    }
    h3 {
        text-align: center;
        font-size: 14px;
        line-height: 35px;
    }
    ul {
        li {
            font-size: 12px;
            color: #C1C5C9;
            padding-left: 20px;
            line-height: 20px;
            label {
                display: block;
                float: left;
                width: 75px;
            }
        }
    }
}

.div-icon-last {
    margin-right: 0px;
}

//credit-valuesDiv
.credit-valuesDiv {
    height: 80px;
    width: 200px;
    position: fixed;
    background-color: #181f2f;
    border: 1px solid #24426c;
    z-index: 99;
    margin-left: 150px;
    margin-top: -20px;
    padding-left: 10px;
    h2 {
        font-size: 10px;
        label {
            margin-top: 8px;
        }
    }
    p {
        font-size: 10px;
    }
    h4 {
        font-size: 10px;
        label {
            margin-top: 8px;
        }
    }
}


/**submit**/

.submit {
    text-align: center;
}

.el-button--primary {
    width: 40%;
    border-radius: 0.1rem;
    height: 28px;
    line-height: 28px;
    padding: 0px;
    background-color: #658ec7;
    border-color: #658ec7;
}


/**bottom-btn**/

.bottom-btn {
    width: 30%;
    margin: 30px 0 0 30%;
    background: #658ec7;
    border-color: #658ec7;
    color: #fff;
    height: 28px;
    padding: 0px;
}

.bottom-btn:hover {
    background-color: #409EFF;
    color: #fff;
}


/**el-message-box**/

.el-message-box {
    background-color: #0b1422;
    border-radius: 0px;
    border: 1px solid #24426c;
    .el-message-box__title {
        color: #F0F2F5;
    }
    .el-button--default {
        background-color: #17202e;
        border: 1px solid #24426c;
        border-radius: 1px;
        float: left;
    }
    .el-button--default,
    .el-button--primary {
        width: 100px;
        height: 31px;
    }
    .el-button--primary {
        background-color: #658ec7;
    }
    .el-message-box__btns {
        width: 320px;
        padding: 5px 50px 0;
    }
    .el-message-box__btns button:nth-child(2) {
        margin-left: 109px;
    }
}